.App {
  text-align: left;
}

.App-header {
  background-color: gray;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}
